<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="https://twitter.com/jeremyfsu"><h2
   class="header-link">Me@twitter</h2></a>
<a href="https://www.instagram.com/jeremywalworth/"><h2
    class="header-link">Me@IG</h2></a>
<a href="https://www.qrz.com/lookup/n4jsw"><h2
  5     class="header-link">Me@QRZ</h2></a>
<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
<!-- a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/'
  }}"><h2 class="header-link">RSS</h2></a-->
